<div align="center">
  <h1>User Info</h1>

  <p><%= @user.name %></p>
  <p><%= @user.email %></p>

  <%= link_to "Edit User", edit_user_path(@user) %> | 
  <%= link_to "Delete Account", user_path(@user), method: :delete, data: { confirm: "Are you sure?" } %>
</div>
