

<div class="jumbotron" align="center">
  <h1 class="display-4">Welcome To Digital Square</h1>
  <p class="lead">Your Favorite Online MarketPlace</p>
  <hr class="my-4">

  <div class="container">
    <div class="row">
      <div class="col-sm">
          <%= link_to "Sign Up", signup_path, class: "btn btn-primary btn-lg" %>
      </div>
      <div class="col-sm">
          <%= link_to "Log In", login_path, class: "btn btn-primary btn-lg" %>
      </div>
      <div class="col-sm">
          <%= link_to "Log Out", logout_path, class: "btn btn-primary btn-lg" %>
      </div>
      <div class="col-sm">
          <%= link_to "Browse Categories", categories_path, class: "btn btn-primary btn-lg" %>
      </div>
    </div>
  </div>
</div>
