<h1 align="center">All Products</h1>

<div align="center">
  <ol>
    <% @items.each do |item| %>
      <li>Product Name: <%= link_to item.name, item %> | Quantity: <%= item.quantity %></li>
    <% end %>
  </ol>
</div>
